<ion-header [translucent]="true">
  <ion-toolbar color="primaryT">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Photo ASAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="full-height fx-col fx-align-center fx-justify-center">
    <div class="home-screen">
      <h1>Hello, I'm a game screen</h1>
    </div>
  </div>
</ion-content>