@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';

.full-screen {
    width: -webkit-fill-available;
    height: inherit;
}

ion-progress-bar {
    position: absolute;
    height: 14px;
}

ion-fab {
    display: flex;
    ion-fab-button {
        padding: 5px;
    }
}

img {
    width: inherit;
}

.custom-ion-content{
    --background: transparent;
}

.progress-label {
    position: absolute;
    z-index: 1;
    font-size: x-small;
    padding: 2px 0 0 10px;
    color: var(--ion-color-primary-contrast);
}