@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';

p {
    margin: 0;
    padding: 0;
}

.no-image-icon {
    zoom: 10;
}

ion-progress-bar {
    opacity: 0.7;
    height: 6px;
}