@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';

.full-screen {
    width: -webkit-fill-available;
    height: inherit;
}

ion-progress-bar {
    height: 6px;
}

ion-fab {
    display: flex;
    ion-fab-button {
        padding: 5px;
    }
}

img {
    width: inherit;
}

.custom-ion-content{
    --background: transparent;
}