/* CUSTOM COLORS */
$background-light-lvl-0: #F2F2F2;
$background-light-lvl-1: #FFFFFF;

$background-dark-lvl-0: #333333;
$background-dark-lvl-1: #555555;

$header-color-light: #4B4B4B;
$header-color-dark: #CCCCCC;

$text-color-light: #4B4B4B;
$text-color-dark: #CCCCCC;