/** Custom sizes **/

/* Margin, padding, spacing */
$text-input-padding-horizontal: 8px;
$text-input-padding-vertival: 8px;

/* Width, height */
$button-default-width: 280px;
$button-default-height: 40px;
$button-small-width: 180px;
$button-small-height: 40px;

$text-input-default-width: 280px;
$text-input-default-height: 60px;

$border-radius--default: 20px;

/* Buttons */

/* Text size */