// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-background-color: var(--ion-color-medium);

  --ion-color-primary: #ff8400;
  --ion-color-primaryT: #ff8400cc;
  --ion-color-primary-rgb: 255,132,0;
  --ion-color-primary-contrast: #F2F2F2;
  --ion-color-primary-contrast-rgb: #f2f2f2;
  --ion-color-primary-shade: #e07400;
  --ion-color-primary-tint: #ff901a;

  --ion-color-secondary: #ffc485;
  --ion-color-secondary-rgb: 255,196,133;
  --ion-color-secondary-contrast: #333333;
  --ion-color-secondary-contrast-rgb: rgb(51, 51, 51);
  --ion-color-secondary-shade: #e0ac75;
  --ion-color-secondary-tint: #ffca91;

  --ion-color-tertiary: #c2eb2d;
  --ion-color-tertiary-rgb: 194,235,45;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #abcf28;
  --ion-color-tertiary-tint: #c8ed42;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #e51515;
  --ion-color-danger-rgb: 229,21,21;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ca1212;
  --ion-color-danger-tint: #e82c2c;

  --ion-color-dark: #4b4b4b;
  --ion-color-dark-rgb: 75,75,75;

  --ion-color-medium: #f2f2f2;
  --ion-color-medium-rgb: 242,242,242;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
}

// @media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body.dark {
      --ion-background-color: var(--ion-color-medium);
  
      --ion-color-primary: #ff8400;
      --ion-color-primaryT: #ff8400cc;
      --ion-color-primary-rgb: 255,132,0;
      --ion-color-primary-contrast: #333333;
      --ion-color-primary-contrast-rgb: rgb(51, 51, 51);
      --ion-color-primary-shade: #e07400;
      --ion-color-primary-tint: #ff901a;
  
      --ion-color-secondary: #ffc485;
      --ion-color-secondary-rgb: 255,196,133;
      --ion-color-secondary-contrast: #333333;
      --ion-color-secondary-contrast-rgb: rgb(51, 51, 51);
      --ion-color-secondary-shade: #e0ac75;
      --ion-color-secondary-tint: #ffca91;
  
      --ion-color-tertiary: #c2eb2d;
      --ion-color-tertiary-rgb: 194,235,45;
      --ion-color-secondary-contrast: #333333;
      --ion-color-secondary-contrast-rgb: rgb(51, 51, 51);
      --ion-color-tertiary-shade: #abcf28;
      --ion-color-tertiary-tint: #c8ed42;
  
      --ion-color-success: #2dd36f;
      --ion-color-success-rgb: 45,211,111;
      --ion-color-success-contrast: #ffffff;
      --ion-color-success-contrast-rgb: 255,255,255;
      --ion-color-success-shade: #28ba62;
      --ion-color-success-tint: #42d77d;
  
      --ion-color-warning: #ffc409;
      --ion-color-warning-rgb: 255,196,9;
      --ion-color-secondary-contrast: #333333;
      --ion-color-secondary-contrast-rgb: rgb(51, 51, 51);
      --ion-color-warning-shade: #e0ac08;
      --ion-color-warning-tint: #ffca22;
  
      --ion-color-danger: #e51515;
      --ion-color-danger-rgb: 229,21,21;
      --ion-color-danger-contrast: #ffffff;
      --ion-color-danger-contrast-rgb: 255,255,255;
      --ion-color-danger-shade: #ca1212;
      --ion-color-danger-tint: #e82c2c;
  
      --ion-color-dark: #cccccc;
      --ion-color-dark-rgb: 204, 204, 204;
  
      --ion-color-medium: #333333;
      --ion-color-medium-rgb: 51, 51, 51;
  
      --ion-color-light: #555555;
      --ion-color-light-rgb: 85, 85, 85;
  }

// }
