<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button ionBackButton (click)="exitApp()">
                <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            Photo ASAPP
        </ion-title>

        <ion-buttons slot="end">
            <ion-label><ion-icon name="sunny" [ngClass]="isDarkMode ? 'modeIconSmall' : 'modeIconBig'"></ion-icon></ion-label>
            <ion-toggle [checked]="isDarkMode" [color]="isDarkMode ? 'light' : 'dark'" (ionChange)="changeColorMode()"></ion-toggle>
            <ion-label><ion-icon name="moon" [ngClass]="isDarkMode ? 'modeIconBig' : 'modeIconSmall'"></ion-icon></ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="full-height fx-col fx-justify-start fx-align-center">
        <div class="home-screen">
            <div class="input-wrapper fx-col fx-align-center fx-justify-center">
                <div class="input fx-col fx-align-center fx-justify-center">
                    <ion-input (ionInput)="playerName = $event.target.value" type="text"
                        placeholder="Enter your name...">
                    </ion-input>
                </div>
            </div>
            <div class="ready-state-wrapper fx-col fx-align-center fx-justify-center">
                <ion-button fill="outline" (click)="reportReadyState()"
                    [disabled]="!(isPlayerNameValid && canGameBeJoinedTo())">
                    <ion-icon *ngIf="isPlayerReady" class="ready-state-indicator" slot="start" name="radio-button-on">
                    </ion-icon>
                    Ready
                </ion-button>

                <ion-button fill="outline" (click)="reportNotReadyState()"
                    [disabled]="!(isPlayerNameValid && canGameBeJoinedTo())">
                    <ion-icon *ngIf="!isPlayerReady" class="ready-state-indicator" slot="start" name="radio-button-on">
                    </ion-icon>
                    Not ready
                </ion-button>
            </div>

            <div class="game-status fx-col fx-justify-center fx-align-center">
                <ion-icon class="stateIcon" name="{{ gameStatusIcon }}" color="primary"></ion-icon>
                <span>{{ getGameStatusString() }}</span>
            </div>

            <div class="actions-wrapper fx-col fx-justify-center fx-align-center">
                <div class="fx-row fx-justify-center" *ngIf="isPlayerAdmin && canGameBeJoinedTo()">
                    <ion-button (click)="startGame()" [disabled]="!(canGameBeStarted() && isPlayerReady)">
                        <ion-icon slot="start" name="play"></ion-icon>
                        Start game
                    </ion-button>
                </div>

                <div *ngIf="!canGameBeJoinedTo()" class="fx-row fx-justify-center">
                    <ion-button (click)="reconnect()" class="btn--reload">
                        <ion-icon slot="start" name="reload"></ion-icon> Reload
                    </ion-button>
                </div>
            </div>

            <div *ngIf="canGameBeJoinedTo()" class="game-details fx-col fx-align-center">
                <span>Connected players: {{ numberOfConnectedPlayers }}</span>
                <span>Ready players: {{ numberOfReadyPlayers }}</span>
                <span>Free slots: {{ numberOfFreeSlots != null ? numberOfFreeSlots : ''}}</span>
            </div>
        </div>
        <!-- <div class="bottom-wrapper fx-col fx-justify-between fx-align-center">
            <span>{{ socketStatusMessage }}</span>
            <span> {{ isPlayerReady ? 'ready' : 'not ready'}} {{ isPlayerAdmin ? '| admin' : '' }} </span>
            <span *ngIf="playerId"> {{ playerId }} </span>
        </div> -->
    </div>

</ion-content>