@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';


.home-screen {
  height: 500px;
  width: 80%;

  ion-input {
    width: 100%;
    box-sizing: border-box;
    height: $text-input-default-height;
    padding: 6px !important;
    padding-left: 0px !important;

    border: 2px solid var(--ion-color-primary);
    border-radius: 100px;
    
    color: var(--ion-color-primary);
    font-weight: bold;
    text-align: center;
  }

  ion-button {
    width: $button-small-width;
    height: $button-default-height;
    --border-radius: 100px;

    .ready-state-indicator {
        font-size: 0.8em;
        color: rgb(147, 233, 49);
    }
  }
}

.toggle-label {
  width: 150px;
  font-size: 1.5em;
  cursor: pointer;
  
  &:first-child {
      text-align: right;
  }
  
  &:last-child {
    text-align: left;
  }
}

.game-status {
  ion-icon {
    height: 48px;
    
    font-size: 2em;
  }
}

.btn--reload {
  width: $button-small-width !important;
  border-radius: 100px !important;
}

.game-details {
  span {
    margin: 4px 0;
  }
}

.bottom-wrapper {
  position: absolute;
  bottom: 0; 
  right: 0;
  left: 0;

  color: rgba($color: #888, $alpha: 0.5)
}