<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Photo ASAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="full-height fx-col fx-justify-center fx-align-center">
    <div class="home-screen fx-col fx-justify-evenly">
      <div class="fx-col fx-align-center fx-justify-center">
        <ion-input (ionInput)="setPlayerName($event)" type="text" fill="outline" placeholder="Enter your name...">
        </ion-input>

        <span>Player id: {{ playerId }} | {{ isPlayerReady ? 'ready' : 'not ready'  }}</span>
      </div>
      <div class="fx-col fx-align-center fx-justify-center">
        <ion-button style="--border-radius: 100px" (click)="reportReadyState()" [disabled]="!isPlayerNameValid">Ready
        </ion-button>

        <ion-button fill="outline" style="--border-radius: 100px" (click)="reportNotReadyState()">Not ready
        </ion-button>
      </div>

      <div class="game-status fx-row fx-justify-center">
        <ion-icon name="{{ getGameStatusIconName() }}" color="primary"></ion-icon>
        <span>{{ gameStatus.toString() }}</span>
      </div>

      <!-- <div class="game-details fx-col fx-align-center">
        <span>Required number of players: {{ requiredNumberOfPlayers }}</span>
        <span>Currently connected players: {{ numberOfConnectedPlayers }}</span>
        <span>Ready players: {{ numberOfReadyPlayers }}</span>
      </div> -->
      <span>{{ socketStatusMessage }}</span>
    </div>
  </div>

</ion-content>