@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';

ion-card {
    margin: 40px 0;
    border-radius: $border-radius--default;
    border: 2px solid var(--ion-color-primary);
}

ion-card-title {
    font-weight: bolder;
}

.result {
    text-align: justify;
}

.player {
    font-weight: bold;
}

.btn{
    width: $button-small-width;
    height: $button-default-height;
    --border-radius: 100px;
}