@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';

.results-screen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    height: 70vh;
    color: var(--ion-color-dark);
}

.header-wrapper {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-top: 30px;
}

.scoreboard-wrapper { 
    grid-row: 2 / 3;
    grid-column: 1 / 2;

}

.actions-wrapper {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}


ion-card {
    width: 100%;
    margin: 0;
    
    background-color: var(--ion-color-light);
    border-radius: $border-radius--default;
    color: var(--ion-color-dark);

    ion-item {
        --background: transparent !important;
    }
}

ion-card-title {
    font-weight: bolder;
    color: var(--ion-color-dark);
}

.results {
    text-align: justify;
    color: var(--ion-color-dark);
}

.player {
    font-weight: bold;
    color: var(--ion-color-dark);
}

.btn{
    width: $button-small-width;
    height: $button-default-height;
    --border-radius: 100px;
}

@media screen and (orientation: landscape) {
.results-screen {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.header-wrapper {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-top: 10px;
}

.scoreboard-wrapper { 
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}

.actions-wrapper {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    flex-direction: row;
}
}