@import '../../../theme/variables.scss';
@import '../../../theme/dimensions.scss';
@import '../../../theme/common.scss';
@import '../../../theme/flex.scss';

ion-card {
    margin: 40px 0;
    background-color: var(--ion-color-light);
    border-radius: $border-radius--default;
    color: var(--ion-color-dark);
}

ion-card-title {
    font-weight: bolder;
    color: var(--ion-color-dark);
}

.result {
    text-align: justify;
    color: var(--ion-color-dark);
}

.player {
    font-weight: bold;
    color: var(--ion-color-dark);
}

.btn{
    width: $button-small-width;
    height: $button-default-height;
    --border-radius: 100px;
}